* {
	margin: 0;
	padding: 0;
	outline: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    background: #eee;
    color: #444;
    -webkit-font-smoothing: antialiased;
    font-family:"HelveticaNeue-Thin", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: auto !important;
    height: 100%;
    min-height: 100%;
    text-rendering: optimizeLegibility;
}

div.wrapper {
  margin: 20px auto;
  width: 350px;
}

button{
	font-size: 1.5em;
	margin-bottom: 30px;
}
.contents{
  width:100%;
  height: 80%;
  background-color: white;
	padding: 20px;
}

.header{
  display:block;
  width:100%;
  min-height:50px;
  background-color:white;
  font-size: 2em;
}
.loginBtns{
  font-size: 0.5em;
  float:right;
  margin-right: 300px;
}


.flexContainer{
  display: inline-flex;
  flex-direction: row;
   flex-wrap: wrap;
   width:100%;

}
.userScore{
  text-align: right;
}
/*.card {
    display: flex;
    margin: 5px;
    width: 200px;
    height: 200px;
    background-color: #333333;

  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.cardTxt,.qnTxt {
  font-family: 'Montserrat', sans-serif;
    color: white;
}*/

input[type=text] {
   /* Awesome styling */
   border: 5px solid white;
  -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
          0 0 16px rgba(0,0,0,0.1);
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 0;
  font-size: 1em;
}

.makeQnContainer{
  display: inline-flex;
  flex-direction: column;
   flex-wrap: wrap;
   margin: 5px;
   width: 600px;
   height: 600px;
   background-color: #333333;
   align-items: center;
   justify-content: center;
     color: white;
}


.makeWrongAnsContainer{
  display: inline-flex;
  flex-direction: column;
   flex-wrap: wrap;
   margin: 5px;
   width: 50px;
   height: 50px;
   background-color: #333333;
   align-items: center;
   justify-content: center;
     color: white;
}
.makeWrongAnsContainer:hover{
   background-color: white;
   color:#333333;
}


.ansContainer{
  /*border:1px solid red;*/
  width:95%;
  margin-top:4%;
  /*height:50%;*/
  display: inline-flex;
  flex-direction: row;
   flex-wrap: wrap;
}

.ansItem{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:1%;
  min-width:48%;
  min-height: 50px;
  background-color: white;
    color: black;
    font-size: 1.8em;
}
.ansItem:hover,.ansItem.checked{
  background-color: black;
  color: white;
}

.makeWrongAnsQnSmall{
  font-size: 1.2em;
  }
  .makeWrongAnsQn{
    font-size: 2.2em;
    padding: 3%;
    }
  .makeWrongAnsAns {
    margin-top: 10px;
  font-size: 1.4em;
}
